@charset "UTF-8";
/* Lien avec susy*/
/*Import d'une typo google directement dans le SCSS*/
@import url(https://fonts.googleapis.com/css?family=Pacifico);
/*
Import de mes diff├®rents fichiers sass d├®coup├®s pour simplifier mon code:

@import "components/...";
@import "helpers/...";
@impot "layouts/..."
@import "pages/...";
*/
/*Param├¿trage des options de susy*/
/*Mixin qui permet de tout passer en border-box: box-sizing*/
/* line 21, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, ../sass/main.scss */
* {
  font-family: Pacifico;
}

/* line 35, ../sass/main.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 39, ../sass/main.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
  background-size: 25%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 12, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 42, ../sass/main.scss */
.main {
  width: 75%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}

/* line 47, ../sass/main.scss */
.sidebar {
  width: 25%;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}
