@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Federo);
@font-face {
  font-family: 'chequeregular';
  src: url("../fonts/cheque-regular-webfont.woff2") format("woff2"), url("../fonts/cheque-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stencil';
  src: url("../fonts/zefanistenciluppercase-regular-webfont.ttf"), url("../fonts/zefanistenciluppercase-regular-webfont.woff2") format("woff2"), url("../fonts/zefanistenciluppercase-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 2, ../sass/menuhamburger.scss */
.menu {
  text-align: center;
  font-size: 25px;
  position: fixed;
  top: 0;
  left: -80%;
  background: #BCA57D;
  width: 80%;
  height: 100%;
  transition: 1s;
  opacity: 0.90;
  z-index: 90;
}
/* line 14, ../sass/menuhamburger.scss */
.menu ul {
  margin: 0;
  padding: 20px 0;
}
/* line 17, ../sass/menuhamburger.scss */
.menu ul li {
  list-style: none;
}
/* line 19, ../sass/menuhamburger.scss */
.menu ul li a {
  padding: 10px 20px;
  color: black;
  display: block;
  text-decoration: none;
}

/* line 29, ../sass/menuhamburger.scss */
.active {
  left: 0px;
}

/* line 32, ../sass/menuhamburger.scss */
.menubouton {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: -60px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #f5f5f5;
  background-color: black;
  z-index: 99;
}
/* line 45, ../sass/menuhamburger.scss */
.menubouton span {
  display: block;
  height: 3px;
  width: 40px;
  background: white;
  position: absolute;
  top: 28px;
  left: 7px;
  transition: 1s;
}
/* line 55, ../sass/menuhamburger.scss */
.menubouton span:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transition: 1s;
}
/* line 65, ../sass/menuhamburger.scss */
.menubouton span:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transition: 1s;
}

/* line 76, ../sass/menuhamburger.scss */
.active .menubouton:hover span {
  transform: rotate(-90deg);
  transition: .5s;
}

/* line 80, ../sass/menuhamburger.scss */
.menubouton::after {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  bottom: 0%;
  left: 0%;
  right: 100%;
  display: block;
  height: 3px;
  background-color: #ae8f60;
  -webkit-transition: right 0.45s;
  -moz-transition: right 0.45s;
  transition: right 0.45s;
}

/* line 95, ../sass/menuhamburger.scss */
.menubouton:hover::after {
  right: 0%;
  -webkit-transition: right 0.6s;
  -moz-transition: right 0.6s;
  transition: right 0.6s;
}

/* line 101, ../sass/menuhamburger.scss */
.menubouton::before {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  top: 0%;
  left: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ae8f60;
  -webkit-transition: left 0s;
  -moz-transition: left 0s;
  transition: left 0s;
}

/* line 116, ../sass/menuhamburger.scss */
.menubouton:hover::before {
  left: 100%;
  -webkit-transition: left 0.6s;
  -moz-transition: left 0.6s;
  transition: left 0.6s;
}

/* line 129, ../sass/menuhamburger.scss */
.menubouton.toggle span {
  background: transparent;
}

/* line 132, ../sass/menuhamburger.scss */
.menubouton.toggle span:before {
  top: 0;
  transform: rotate(45deg);
}

/* line 136, ../sass/menuhamburger.scss */
.menubouton.toggle span:after {
  top: 0;
  transform: rotate(-45deg);
}

/*
boutontrans{

  background: transparent;
  span{
    background: black;
  }
  span:before{
    background: black;
  }
  span:after{
    background: black;
  }
}
.menublanc{
  background: white;
  opacity: 0.9;
  a{
    color: ;
  }
}
.menuboutonblanc{
  color: ;
  background: ;
  span{
    background: ;
  }
  span:before{
    background: ;
  }
  span:after{
    background: ;
  }
}
.menubleu{
  background: rgba(67, 179, 201, 0.9) ;
  a{
    color: ;
  }
}
.menuboutonbleu{
  color: ;
  background: ;
  span{
    background: ;
  }
  span:before{
    background: ;
  }
  span:after{
    background: ;
  }
}
*/
/* line 21, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/parimisaccueil.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/parimisaccueil.scss */
body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* line 33, ../sass/parimisaccueil.scss */
h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 50px;
  font-family: 'Federo', sans-serif;
}

/* line 40, ../sass/parimisaccueil.scss */
p {
  font-size: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 3em;
}
@media screen and (min-width: 700px) {
  /* line 40, ../sass/parimisaccueil.scss */
  p {
    width: 60%;
  }
}

/* line 50, ../sass/parimisaccueil.scss */
a {
  text-decoration: none;
}

/* line 53, ../sass/parimisaccueil.scss */
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 57, ../sass/parimisaccueil.scss */
.navfixed {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  height: 60px !important;
  background: white;
  z-index: 80;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 67, ../sass/parimisaccueil.scss */
.navfixed a {
  color: black;
}
/* line 70, ../sass/parimisaccueil.scss */
.navfixed a:hover {
  color: #ae8f60;
}
/* line 73, ../sass/parimisaccueil.scss */
.navfixed .navgauche {
  visibility: hidden;
  width: 28.57143%;
  float: left;
  margin-left: 7.14286%;
  height: 60px;
  line-height: 60px;
}
/* line 79, ../sass/parimisaccueil.scss */
.navfixed .navgauche div {
  width: 50%;
  float: left;
}
@media screen and (min-width: 700px) {
  /* line 73, ../sass/parimisaccueil.scss */
  .navfixed .navgauche {
    visibility: visible;
  }
}
/* line 86, ../sass/parimisaccueil.scss */
.navfixed .logo {
  width: 100%;
  float: left;
  font-size: 50px;
  line-height: 60px;
  margin-top: -60px;
}
@media screen and (min-width: 700px) {
  /* line 86, ../sass/parimisaccueil.scss */
  .navfixed .logo {
    width: 28.57143%;
    float: left;
    margin-top: 0;
  }
}
/* line 96, ../sass/parimisaccueil.scss */
.navfixed .navdroite {
  visibility: hidden;
  width: 28.57143%;
  float: left;
  margin-left: -7.14286%;
  height: 60px;
  line-height: 60px;
}
/* line 102, ../sass/parimisaccueil.scss */
.navfixed .navdroite div {
  width: 50%;
  float: left;
}
@media screen and (min-width: 700px) {
  /* line 96, ../sass/parimisaccueil.scss */
  .navfixed .navdroite {
    visibility: visible;
  }
}

/* line 112, ../sass/parimisaccueil.scss */
.book {
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  color: black;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 18px;
  background: black;
  color: white;
  overflow: hidden;
}
/* line 129, ../sass/parimisaccueil.scss */
.book i {
  padding-top: 14px;
  font-size: 30px;
  color: white;
}
@media screen and (min-width: 700px) {
  /* line 112, ../sass/parimisaccueil.scss */
  .book {
    width: 180px;
  }
  /* line 136, ../sass/parimisaccueil.scss */
  .book i {
    display: none;
  }
}

/* line 142, ../sass/parimisaccueil.scss */
.book::after {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  bottom: 0%;
  left: 0%;
  right: 100%;
  display: block;
  height: 3px;
  background-color: #ae8f60;
  -webkit-transition: right 0.45s;
  -moz-transition: right 0.45s;
  transition: right 0.45s;
}

/* line 157, ../sass/parimisaccueil.scss */
.book:hover::after {
  right: 0%;
  -webkit-transition: right 0.6s;
  -moz-transition: right 0.6s;
  transition: right 0.6s;
}

/* line 163, ../sass/parimisaccueil.scss */
.book::before {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  top: 0%;
  left: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ae8f60;
  -webkit-transition: left 0s;
  -moz-transition: left 0s;
  transition: left 0s;
}

/* line 178, ../sass/parimisaccueil.scss */
.book:hover::before {
  left: 100%;
  -webkit-transition: left 0.6s;
  -moz-transition: left 0.6s;
  transition: left 0.6s;
}

/* line 185, ../sass/parimisaccueil.scss */
div.overlaybooking {
  position: fixed;
  z-index: 101;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: white;
  background-image: url(../img/booktoggle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  visibility: hidden;
  transition: all 0.7s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

/* line 205, ../sass/parimisaccueil.scss */
div.overlaybooking.open {
  visibility: visible;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 215, ../sass/parimisaccueil.scss */
div.overlaybooking .close {
  position: absolute;
  right: 0;
  height: 60px;
  width: 60px;
  background: white;
  cursor: pointer;
}

/* line 223, ../sass/parimisaccueil.scss */
.close span {
  display: block;
  position: absolute;
  top: 28px;
  left: 10px;
  height: 3px;
  width: 40px;
  background: black;
  transform: rotate(45deg);
}

/* line 233, ../sass/parimisaccueil.scss */
.close:hover span {
  transform: rotate(-45deg);
  transition: .5s;
}

/* line 237, ../sass/parimisaccueil.scss */
.close span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  transform: rotate(-90deg);
}

/* line 246, ../sass/parimisaccueil.scss */
.close:hover {
  background: black;
  color: white;
}

/* line 250, ../sass/parimisaccueil.scss */
.close::after {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  bottom: 0%;
  left: 0%;
  right: 100%;
  display: block;
  height: 3px;
  background-color: #ae8f60;
  -webkit-transition: right 0.45s;
  -moz-transition: right 0.45s;
  transition: right 0.45s;
}

/* line 265, ../sass/parimisaccueil.scss */
.close:hover::after {
  right: 0%;
  -webkit-transition: right 0.6s;
  -moz-transition: right 0.6s;
  transition: right 0.6s;
}

/* line 297, ../sass/parimisaccueil.scss */
.midnightHeader.navblack {
  color: #BCA57D;
  background: black;
}

/* line 301, ../sass/parimisaccueil.scss */
.midnightHeader.navblanc {
  color: black;
  background: rgba(255, 255, 255, 0.9);
}

/* line 305, ../sass/parimisaccueil.scss */
.midnightHeader.navbleu {
  color: white;
  background: #43b3c9;
}

/* line 309, ../sass/parimisaccueil.scss */
.recherche {
  width: 250px;
  margin-left: -250px;
}

/* line 313, ../sass/parimisaccueil.scss */
.recherchebouton {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
}

/* line 322, ../sass/parimisaccueil.scss */
.imgintro {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 95vh;
  text-align: center;
  z-index: 100;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.imgintro:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 327, ../sass/parimisaccueil.scss */
.imgintro h1 {
  font-size: 5em;
  padding-top: 45vh;
  font-family: "stencil";
}
/* line 331, ../sass/parimisaccueil.scss */
.imgintro h1 a {
  text-decoration: none;
  color: #BCA57D;
}

/* line 338, ../sass/parimisaccueil.scss */
.imgintro::after {
  content: "";
  background: url(../img/origami.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
}

/* line 352, ../sass/parimisaccueil.scss */
.bloom {
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background-image: radial-gradient(circle at center, #ffffff, rgba(0, 0, 0, 0));
  z-index: -1;
  box-shadow: 0 5px 5px rgba(31, 15, 15, 0.2);
}

/* line 361, ../sass/parimisaccueil.scss */
.parallax {
  background-image: url("../img/rooftopMobile.jpg");
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
@media screen and (min-width: 700px) {
  /* line 361, ../sass/parimisaccueil.scss */
  .parallax {
    background-image: url("../img/rooftop.jpg");
  }
}

/* line 373, ../sass/parimisaccueil.scss */
.corps {
  width: 100%;
}
@media screen and (min-width: 700px) {
  /* line 373, ../sass/parimisaccueil.scss */
  .corps {
    margin: 0;
    padding: 0 25px;
  }
}

/* line 381, ../sass/parimisaccueil.scss */
.hotel {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.hotel:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 389, ../sass/parimisaccueil.scss */
.hotel h4 {
  color: #ae8f60;
}
/* line 392, ../sass/parimisaccueil.scss */
.hotel h2 {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* line 397, ../sass/parimisaccueil.scss */
.hotel::before {
  content: "";
  display: block;
  height: 50px;
}

@media screen and (min-width: 700px) {
  /* line 414, ../sass/parimisaccueil.scss */
  .hotelpara {
    width: 66.66667%;
    float: left;
    margin-left: 16.66667%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/* line 421, ../sass/parimisaccueil.scss */
.hotelpara p {
  width: 100%;
  float: left;
  padding: 0 60px 60px 60px;
}
@media screen and (min-width: 700px) {
  /* line 421, ../sass/parimisaccueil.scss */
  .hotelpara p {
    width: 50%;
    float: left;
  }
}
/* line 428, ../sass/parimisaccueil.scss */
.hotelpara .paragauche {
  border-right: 1px solid #ae8f60;
}

/* line 441, ../sass/parimisaccueil.scss */
.chambre {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/booktoggle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 5vh;
  box-shadow: 0 5px 5px rgba(31, 15, 15, 0.2);
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.chambre:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 452, ../sass/parimisaccueil.scss */
.chambre .chambreIntro h2, .chambre .chambreIntro p {
  color: #BCA57D;
}
@media screen and (min-width: 700px) {
  /* line 456, ../sass/parimisaccueil.scss */
  .chambre .roomgalery {
    width: 80%;
    float: left;
    margin-left: 10%;
  }
}
/* line 462, ../sass/parimisaccueil.scss */
.chambre .chambreItem {
  width: 100%;
  float: left;
  height: 50vh;
  padding: 0 auto;
  margin: 0 auto;
  text-align: left;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  /* line 462, ../sass/parimisaccueil.scss */
  .chambre .chambreItem {
    width: 50%;
    float: left;
  }
}
/* line 473, ../sass/parimisaccueil.scss */
.chambre .chambreItem img {
  position: absolute;
  z-index: 14;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  transition: .5s;
}
/* line 484, ../sass/parimisaccueil.scss */
.chambre .chambreItem img:hover {
  transform: scale(1.1);
}
/* line 488, ../sass/parimisaccueil.scss */
.chambre .overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 498, ../sass/parimisaccueil.scss */
.chambre .overlaytoggle {
  background: black;
  opacity: 0.3;
  transition: 1s;
  z-index: 15;
}
/* line 505, ../sass/parimisaccueil.scss */
.chambre .plus {
  display: none;
}
/* line 508, ../sass/parimisaccueil.scss */
.chambre .plusclique {
  position: absolute;
  display: block;
  width: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
/* line 518, ../sass/parimisaccueil.scss */
.chambre .plus img {
  width: 100%;
}
/* line 521, ../sass/parimisaccueil.scss */
.chambre .titrerotation {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 50px;
  background: black;
  font-size: 20px;
  color: #BCA57D;
  display: inline-block;
  transform: rotate(90deg) translateX(-25px);
  transition: transform 0.5s;
  transform-origin: 0 100%;
  z-index: 50;
}
/* line 538, ../sass/parimisaccueil.scss */
.chambre .titrerotationselected {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

/* line 545, ../sass/parimisaccueil.scss */
.resto {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.resto:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 552, ../sass/parimisaccueil.scss */
.pageresto {
  background: linear-gradient(to bottom, #f7ece4, #e5eaf5);
  margin-top: 30px;
}

/* line 556, ../sass/parimisaccueil.scss */
.restoItem {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding: 30px 0;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.restoItem:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 562, ../sass/parimisaccueil.scss */
.restoImage {
  width: 85.71429%;
  float: left;
  margin-left: 7.14286%;
  min-height: 70vh;
  margin-bottom: 20px;
}
/* line 567, ../sass/parimisaccueil.scss */
.restoImage img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 700px) {
  /* line 562, ../sass/parimisaccueil.scss */
  .restoImage {
    width: 35.71429%;
    float: left;
    margin-left: 14.28571%;
  }
}

/* line 576, ../sass/parimisaccueil.scss */
.restoLegende {
  width: 85.71429%;
  float: left;
  margin-left: 7.14286%;
  padding: 50px 30px;
  background: white;
  min-height: 50vh;
  box-shadow: 0 4px 15px 0 rgba(143, 147, 174, 0.3);
}
/* line 583, ../sass/parimisaccueil.scss */
.restoLegende h3 {
  color: black;
  font-weight: bold;
}
/* line 587, ../sass/parimisaccueil.scss */
.restoLegende .carte {
  float: right;
}
/* line 590, ../sass/parimisaccueil.scss */
.restoLegende .carte::after {
  content: "";
  display: block;
  clear: both;
}
/* line 595, ../sass/parimisaccueil.scss */
.restoLegende p {
  font-size: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}
@media screen and (min-width: 700px) {
  /* line 576, ../sass/parimisaccueil.scss */
  .restoLegende {
    width: 42.85714%;
    float: left;
    margin-left: -7.14286%;
    margin-top: 10vh;
  }
}

/* line 608, ../sass/parimisaccueil.scss */
.restoImagedroite {
  width: 85.71429%;
  float: left;
  margin-left: 7.14286%;
  min-height: 70vh;
  margin-bottom: 20px;
}
/* line 613, ../sass/parimisaccueil.scss */
.restoImagedroite img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 700px) {
  /* line 608, ../sass/parimisaccueil.scss */
  .restoImagedroite {
    width: 35.71429%;
    float: left;
    margin-left: -14.28571%;
  }
}

/* line 622, ../sass/parimisaccueil.scss */
.restoLegendegauche {
  width: 85.71429%;
  float: left;
  margin-left: 7.14286%;
  padding: 50px 30px;
  background: white;
  min-height: 50vh;
  box-shadow: 0 4px 15px 0 rgba(143, 147, 174, 0.3);
}
/* line 629, ../sass/parimisaccueil.scss */
.restoLegendegauche h3 {
  color: black;
  font-weight: bold;
}
/* line 633, ../sass/parimisaccueil.scss */
.restoLegendegauche .carte {
  float: right;
}
/* line 636, ../sass/parimisaccueil.scss */
.restoLegendegauche .carte::after {
  content: "";
  display: block;
  clear: both;
}
/* line 641, ../sass/parimisaccueil.scss */
.restoLegendegauche p {
  font-size: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}
@media screen and (min-width: 700px) {
  /* line 622, ../sass/parimisaccueil.scss */
  .restoLegendegauche {
    width: 42.85714%;
    float: left;
    margin-left: 7.14286%;
    margin-top: 10vh;
  }
}

/* line 655, ../sass/parimisaccueil.scss */
.spa {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, #f4f4f4, rgba(67, 179, 201, 0.5)), url(../img/spa.jpg);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.spa:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 666, ../sass/parimisaccueil.scss */
.soins {
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid #ae8f60;
  box-shadow: 0 4px 15px 0 rgba(143, 147, 174, 0.3);
  padding: 40px;
}
@media screen and (min-width: 700px) {
  /* line 666, ../sass/parimisaccueil.scss */
  .soins {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* line 682, ../sass/parimisaccueil.scss */
.location {
  min-height: 700px;
  position: relative;
  padding-bottom: 20px;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
}

/* line 690, ../sass/parimisaccueil.scss */
#map {
  height: 570px;
  width: 100%;
}

/* line 694, ../sass/parimisaccueil.scss */
.contact {
  width: 100%;
  padding: 40px;
}
@media screen and (min-width: 700px) {
  /* line 694, ../sass/parimisaccueil.scss */
  .contact {
    position: absolute;
    bottom: 75px;
    left: 250px;
    z-index: 79;
    width: 20%;
    background: white;
    box-shadow: 0 4px 15px 0 rgba(143, 147, 174, 0.3);
  }
}

/* line 707, ../sass/parimisaccueil.scss */
footer {
  width: 100%;
  color: black;
  min-height: 50vh;
}
@media screen and (min-width: 700px) {
  /* line 707, ../sass/parimisaccueil.scss */
  footer {
    padding: 0 25px;
    margin: 0;
  }
}
/* line 715, ../sass/parimisaccueil.scss */
footer .rezo {
  height: 600px;
  background-image: url("../img/rezo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 721, ../sass/parimisaccueil.scss */
footer .rezo a {
  color: #AC8F5D;
}
@media screen and (min-width: 700px) {
  /* line 715, ../sass/parimisaccueil.scss */
  footer .rezo {
    height: 150px;
  }
}
/* line 728, ../sass/parimisaccueil.scss */
footer .mediafooter {
  width: 100%;
  float: left;
  height: 150px;
  color: white;
}
@media screen and (min-width: 700px) {
  /* line 728, ../sass/parimisaccueil.scss */
  footer .mediafooter {
    height: 150px;
    width: 25%;
    float: left;
  }
}
/* line 737, ../sass/parimisaccueil.scss */
footer .mentions {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
footer .mentions:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (min-width: 700px) {
  /* line 737, ../sass/parimisaccueil.scss */
  footer .mentions {
    width: 50%;
    float: left;
    margin-left: 25%;
    height: 200px;
  }
}
/* line 744, ../sass/parimisaccueil.scss */
footer .mentions .item {
  padding-top: 45px;
  width: 100%;
  float: left;
}
@media screen and (min-width: 700px) {
  /* line 744, ../sass/parimisaccueil.scss */
  footer .mentions .item {
    width: 33.33333%;
    float: left;
  }
}
/* line 751, ../sass/parimisaccueil.scss */
footer .mentions .titre {
  position: relative;
}
/* line 753, ../sass/parimisaccueil.scss */
footer .mentions .titre h3 {
  padding-top: 20px;
  font-size: 25px;
}
/* line 758, ../sass/parimisaccueil.scss */
footer .mentions .titre::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  margin-left: 20px;
  width: 1px;
  height: 100px;
  background: black;
  transition: width 0.3s;
}
/* line 769, ../sass/parimisaccueil.scss */
footer .mentions .titre::after {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  margin-right: 20px;
  width: 1px;
  height: 100px;
  background: black;
  transition: width 0.3s;
}
/* line 781, ../sass/parimisaccueil.scss */
footer .footerbottom {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
footer .footerbottom:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (min-width: 700px) {
  /* line 781, ../sass/parimisaccueil.scss */
  footer .footerbottom {
    width: 50%;
    float: left;
    margin-left: 25%;
    height: 150px;
  }
}

/* line 791, ../sass/parimisaccueil.scss */
footer i {
  padding-top: 20px;
  font-size: 30px;
  color: #AC8F5D;
}

/* line 799, ../sass/parimisaccueil.scss */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 750px;
}

/* Hide the images by default */
/* line 807, ../sass/parimisaccueil.scss */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* line 812, ../sass/parimisaccueil.scss */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
/* line 827, ../sass/parimisaccueil.scss */
.prev {
  left: 0;
}

/* line 830, ../sass/parimisaccueil.scss */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 836, ../sass/parimisaccueil.scss */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
/* line 841, ../sass/parimisaccueil.scss */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* line 852, ../sass/parimisaccueil.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/* line 861, ../sass/parimisaccueil.scss */
.divdot {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 867, ../sass/parimisaccueil.scss */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* line 878, ../sass/parimisaccueil.scss */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/* line 883, ../sass/parimisaccueil.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
