@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Federo);
@font-face {
  font-family: 'chequeregular';
  src: url("../fonts/cheque-regular-webfont.woff2") format("woff2"), url("../fonts/cheque-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stencil';
  src: url("../fonts/zefanistenciluppercase-regular-webfont.ttf"), url("../fonts/zefanistenciluppercase-regular-webfont.woff2") format("woff2"), url("../fonts/zefanistenciluppercase-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 2, ../sass/menuhamburger.scss */
.menu {
  text-align: center;
  font-size: 25px;
  position: fixed;
  top: 0;
  left: -80%;
  background: #BCA57D;
  width: 80%;
  height: 100%;
  transition: 1s;
  opacity: 0.95;
  z-index: 150;
}
/* line 14, ../sass/menuhamburger.scss */
.menu ul {
  margin: 0;
  padding: 30px 0;
}
/* line 17, ../sass/menuhamburger.scss */
.menu ul li {
  list-style: none;
}
/* line 19, ../sass/menuhamburger.scss */
.menu ul li span {
  cursor: pointer;
  padding: 40px 20px 10px 20px;
  color: black;
  display: block;
  text-decoration: none;
}
/* line 26, ../sass/menuhamburger.scss */
.menu ul li form {
  display: none;
  max-width: 80%;
}
/* line 30, ../sass/menuhamburger.scss */
.menu ul li a {
  padding: 10px 20px;
  color: black;
  display: block;
  text-decoration: none;
}

/* line 40, ../sass/menuhamburger.scss */
.active {
  left: 0px;
}

/* line 43, ../sass/menuhamburger.scss */
.menubouton {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: -60px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #f5f5f5;
  background-color: black;
  z-index: 150;
}
/* line 56, ../sass/menuhamburger.scss */
.menubouton span {
  display: block;
  height: 3px;
  width: 40px;
  background: white;
  position: absolute;
  top: 28px;
  left: 7px;
  transition: 1s;
}
/* line 66, ../sass/menuhamburger.scss */
.menubouton span:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transition: 1s;
}
/* line 76, ../sass/menuhamburger.scss */
.menubouton span:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transition: 1s;
}

/* line 87, ../sass/menuhamburger.scss */
.active .menubouton:hover span {
  transform: rotate(-90deg);
  transition: .5s;
}

/* line 91, ../sass/menuhamburger.scss */
.menubouton::after {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  bottom: 0%;
  left: 0%;
  right: 100%;
  display: block;
  height: 3px;
  background-color: #ae8f60;
  -webkit-transition: right 0.45s;
  -moz-transition: right 0.45s;
  transition: right 0.45s;
}

/* line 106, ../sass/menuhamburger.scss */
.menubouton:hover::after {
  right: 0%;
  -webkit-transition: right 0.6s;
  -moz-transition: right 0.6s;
  transition: right 0.6s;
}

/* line 112, ../sass/menuhamburger.scss */
.menubouton::before {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  top: 0%;
  left: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ae8f60;
  -webkit-transition: left 0s;
  -moz-transition: left 0s;
  transition: left 0s;
}

/* line 127, ../sass/menuhamburger.scss */
.menubouton:hover::before {
  left: 100%;
  -webkit-transition: left 0.6s;
  -moz-transition: left 0.6s;
  transition: left 0.6s;
}

/* line 133, ../sass/menuhamburger.scss */
.menubouton.toggle span {
  background: transparent;
}

/* line 136, ../sass/menuhamburger.scss */
.menubouton.toggle span:before {
  top: 0;
  transform: rotate(45deg);
}

/* line 140, ../sass/menuhamburger.scss */
.menubouton.toggle span:after {
  top: 0;
  transform: rotate(-45deg);
}

/* line 21, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/parimisaccueil.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/parimisaccueil.scss */
body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* line 33, ../sass/parimisaccueil.scss */
h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 50px;
  font-family: 'Federo', sans-serif;
}

/* line 40, ../sass/parimisaccueil.scss */
h4 {
  color: #ae8f60;
}

/* line 43, ../sass/parimisaccueil.scss */
p {
  font-size: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.5em;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  /* line 43, ../sass/parimisaccueil.scss */
  p {
    width: 60%;
  }
}

/* line 54, ../sass/parimisaccueil.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 58, ../sass/parimisaccueil.scss */
strong {
  text-decoration: none;
  font-weight: normal;
}

/* line 62, ../sass/parimisaccueil.scss */
mark {
  font-size: 40px;
  background-color: transparent !important;
}

/* line 66, ../sass/parimisaccueil.scss */
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 70, ../sass/parimisaccueil.scss */
.navfixed {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  height: 60px !important;
  background: white;
  z-index: 80;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 80, ../sass/parimisaccueil.scss */
.navfixed a {
  color: black;
}
/* line 83, ../sass/parimisaccueil.scss */
.navfixed a:hover {
  color: #ae8f60;
}
/* line 86, ../sass/parimisaccueil.scss */
.navfixed .navgauche {
  visibility: hidden;
  width: 28.57143%;
  float: left;
  margin-left: 7.14286%;
  height: 60px;
  line-height: 60px;
}
/* line 92, ../sass/parimisaccueil.scss */
.navfixed .navgauche div {
  width: 50%;
  float: left;
}
@media screen and (min-width: 992px) {
  /* line 86, ../sass/parimisaccueil.scss */
  .navfixed .navgauche {
    visibility: visible;
  }
}
/* line 99, ../sass/parimisaccueil.scss */
.navfixed .logo {
  width: 100%;
  float: left;
  font-size: 30px;
  line-height: 60px;
  margin-top: -60px;
}
@media screen and (min-width: 768px) {
  /* line 99, ../sass/parimisaccueil.scss */
  .navfixed .logo {
    width: 28.57143%;
    float: left;
    font-size: 50px;
    margin-top: 0;
  }
}
/* line 110, ../sass/parimisaccueil.scss */
.navfixed .navdroite {
  visibility: hidden;
  width: 28.57143%;
  float: left;
  margin-left: -7.14286%;
  height: 60px;
  line-height: 60px;
}
/* line 116, ../sass/parimisaccueil.scss */
.navfixed .navdroite div {
  width: 50%;
  float: left;
}
@media screen and (min-width: 992px) {
  /* line 110, ../sass/parimisaccueil.scss */
  .navfixed .navdroite {
    visibility: visible;
  }
}

/* line 126, ../sass/parimisaccueil.scss */
.book {
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  color: black;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 18px;
  background: black;
  color: white;
  overflow: hidden;
}
/* line 143, ../sass/parimisaccueil.scss */
.book i {
  padding-top: 14px;
  font-size: 30px;
  color: white;
}
@media screen and (min-width: 992px) {
  /* line 126, ../sass/parimisaccueil.scss */
  .book {
    width: 180px;
  }
  /* line 150, ../sass/parimisaccueil.scss */
  .book i {
    display: none;
  }
}

/* line 156, ../sass/parimisaccueil.scss */
.book::after {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  bottom: 0%;
  left: 0%;
  right: 100%;
  display: block;
  height: 3px;
  background-color: #ae8f60;
  -webkit-transition: right 0.45s;
  -moz-transition: right 0.45s;
  transition: right 0.45s;
}

/* line 171, ../sass/parimisaccueil.scss */
.book:hover::after {
  right: 0%;
  -webkit-transition: right 0.6s;
  -moz-transition: right 0.6s;
  transition: right 0.6s;
}

/* line 177, ../sass/parimisaccueil.scss */
.book::before {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  top: 0%;
  left: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ae8f60;
  -webkit-transition: left 0s;
  -moz-transition: left 0s;
  transition: left 0s;
}

/* line 192, ../sass/parimisaccueil.scss */
.book:hover::before {
  left: 100%;
  -webkit-transition: left 0.6s;
  -moz-transition: left 0.6s;
  transition: left 0.6s;
}

/* line 199, ../sass/parimisaccueil.scss */
div.overlaybooking {
  position: fixed;
  z-index: 101;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: white;
  background-image: url(../img/booktoggle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  visibility: hidden;
  transition: all 0.7s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 218, ../sass/parimisaccueil.scss */
div.overlaybooking h2 {
  color: white;
}

/* line 222, ../sass/parimisaccueil.scss */
div.overlaybooking.open {
  visibility: visible;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 232, ../sass/parimisaccueil.scss */
div.overlaybooking .close {
  position: absolute;
  right: 0;
  height: 60px;
  width: 60px;
  background: white;
  cursor: pointer;
}

/* line 240, ../sass/parimisaccueil.scss */
.close span {
  display: block;
  position: absolute;
  top: 28px;
  left: 10px;
  height: 3px;
  width: 40px;
  background: black;
  transform: rotate(45deg);
}

/* line 250, ../sass/parimisaccueil.scss */
.close:hover span {
  transform: rotate(-45deg);
  transition: .5s;
}

/* line 254, ../sass/parimisaccueil.scss */
.close span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  transform: rotate(-90deg);
}

/* line 263, ../sass/parimisaccueil.scss */
.close:hover {
  background: black;
  color: white;
}

/* line 267, ../sass/parimisaccueil.scss */
.close::after {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  content: '';
  bottom: 0%;
  left: 0%;
  right: 100%;
  display: block;
  height: 3px;
  background-color: #ae8f60;
  -webkit-transition: right 0.45s;
  -moz-transition: right 0.45s;
  transition: right 0.45s;
}

/* line 282, ../sass/parimisaccueil.scss */
.close:hover::after {
  right: 0%;
  -webkit-transition: right 0.6s;
  -moz-transition: right 0.6s;
  transition: right 0.6s;
}

/* line 289, ../sass/parimisaccueil.scss */
.langue {
  position: fixed;
  top: 0;
  right: 60px;
  width: 30px;
  z-index: 149;
  color: black;
  height: 60px;
}
@media screen and (min-width: 992px) {
  /* line 289, ../sass/parimisaccueil.scss */
  .langue {
    right: 180px;
    width: 60px;
  }
}
/* line 301, ../sass/parimisaccueil.scss */
.langue div {
  padding-top: 8px;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 50%;
}
/* line 308, ../sass/parimisaccueil.scss */
.langue div:hover {
  color: #ae8f60;
  text-decoration: underline;
}

/* line 315, ../sass/parimisaccueil.scss */
.imgintro {
  display: none;
}
@media screen and (min-width: 768px) {
  /* line 315, ../sass/parimisaccueil.scss */
  .imgintro {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 95vh;
    text-align: center;
    z-index: 100;
  }
  /* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .imgintro:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 323, ../sass/parimisaccueil.scss */
  .imgintro h1 {
    font-size: 5em;
    padding-top: 40vh;
    font-family: "stencil";
  }
  /* line 327, ../sass/parimisaccueil.scss */
  .imgintro h1 a {
    text-decoration: none;
    color: #BCA57D;
  }
}

/* line 334, ../sass/parimisaccueil.scss */
.imgintro::after {
  content: "";
  background: url(../img/origami2.jpg);
  background-repeat: repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
}

/* line 349, ../sass/parimisaccueil.scss */
.bloom {
  display: none;
}
@media screen and (min-width: 768px) {
  /* line 349, ../sass/parimisaccueil.scss */
  .bloom {
    display: block;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle at center, #ffffff, rgba(0, 0, 0, 0));
    z-index: -1;
    box-shadow: 0 5px 5px rgba(31, 15, 15, 0.2);
  }
}

/* line 362, ../sass/parimisaccueil.scss */
.parallax {
  background-image: url("../img/rooftop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
@media screen and (min-width: 768px) {
  /* line 362, ../sass/parimisaccueil.scss */
  .parallax {
    background-attachment: fixed !important;
  }
}

/* line 373, ../sass/parimisaccueil.scss */
.corps {
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 373, ../sass/parimisaccueil.scss */
  .corps {
    margin: 0;
    padding: 0 25px;
  }
}

/* line 381, ../sass/parimisaccueil.scss */
.hotel {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.hotel:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 389, ../sass/parimisaccueil.scss */
.hotel h2 {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* line 394, ../sass/parimisaccueil.scss */
.hotel::before {
  content: "";
  display: block;
  height: 50px;
}

/* line 400, ../sass/parimisaccueil.scss */
.hotelpara a:hover {
  color: #ae8f60;
}
/* line 403, ../sass/parimisaccueil.scss */
.hotelpara p {
  width: 80%;
}
@media screen and (min-width: 1024px) {
  /* line 399, ../sass/parimisaccueil.scss */
  .hotelpara {
    width: 66.66667%;
    float: left;
    margin-left: 16.66667%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/* line 412, ../sass/parimisaccueil.scss */
.hotelpara .paragauche {
  border-right: 1px solid #ae8f60;
  height: auto;
  width: 100%;
  float: left;
}
@media screen and (min-width: 1024px) {
  /* line 412, ../sass/parimisaccueil.scss */
  .hotelpara .paragauche {
    width: 50%;
    float: left;
  }
}
/* line 421, ../sass/parimisaccueil.scss */
.hotelpara .paradroite {
  position: relative;
  border-left: 1px solid #ae8f60;
  height: auto;
  width: 100%;
  float: left;
  padding: 0 40px 60px 40px;
}
@media screen and (min-width: 1024px) {
  /* line 421, ../sass/parimisaccueil.scss */
  .hotelpara .paradroite {
    width: 50%;
    float: right;
  }
}

/* line 433, ../sass/parimisaccueil.scss */
.spriteHotel {
  background: url("../img/img/story-2.png") -2px -133px;
  margin: 0 auto;
  width: 137px;
  height: 290px;
  margin-bottom: 10px;
}

/* line 440, ../sass/parimisaccueil.scss */
.spriteCheminee {
  background: url("../img/img/story-4a.png") no-repeat -224px -95px;
  width: 99px;
  height: 77px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  margin-bottom: 10px;
}

/* line 454, ../sass/parimisaccueil.scss */
.chambre {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/booktoggle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 5vh;
  box-shadow: 0 5px 5px rgba(31, 15, 15, 0.2);
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.chambre:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 465, ../sass/parimisaccueil.scss */
.chambre .chambreIntro h2, .chambre .chambreIntro p, .chambre .chambreIntro mark {
  color: #BCA57D !important;
}
/* line 468, ../sass/parimisaccueil.scss */
.chambre .chambreIntro h4 {
  color: #f1f1f1;
}
@media screen and (min-width: 768px) {
  /* line 472, ../sass/parimisaccueil.scss */
  .chambre .roomgalery {
    width: 80%;
    float: left;
    margin-left: 10%;
  }
}
/* line 478, ../sass/parimisaccueil.scss */
.chambre .chambreItem {
  width: 100%;
  float: left;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 auto;
  margin: 0 auto;
  text-align: left;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  /* line 478, ../sass/parimisaccueil.scss */
  .chambre .chambreItem {
    width: 50%;
    float: left;
  }
}
/* line 492, ../sass/parimisaccueil.scss */
.chambre .chambreItem img {
  position: absolute;
  z-index: 14;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
}
/* line 503, ../sass/parimisaccueil.scss */
.chambre .overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 513, ../sass/parimisaccueil.scss */
.chambre .overlaytoggle {
  background: black;
  opacity: 0.3;
  transition: 1s;
  z-index: 15;
}
/* line 520, ../sass/parimisaccueil.scss */
.chambre .plus {
  display: none;
}
/* line 523, ../sass/parimisaccueil.scss */
.chambre .plusclique {
  position: absolute;
  display: block;
  height: 100px;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
/* line 534, ../sass/parimisaccueil.scss */
.chambre .plus img {
  width: 100%;
}
/* line 537, ../sass/parimisaccueil.scss */
.chambre .titrerotation {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 50px;
  background: black;
  font-size: 20px;
  color: #BCA57D;
  display: inline-block;
  transform: rotate(90deg) translateX(-25px);
  transition: transform 0.5s;
  transform-origin: 0 100%;
  z-index: 50;
}
/* line 554, ../sass/parimisaccueil.scss */
.chambre .titrerotationselected {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

/* line 560, ../sass/parimisaccueil.scss */
.spriteChambre {
  background: url("../img/img/story-2.png") -89px -2px;
  width: 69px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* line 568, ../sass/parimisaccueil.scss */
.resto {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.resto:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 575, ../sass/parimisaccueil.scss */
.pageresto {
  background: linear-gradient(to bottom, #f7ece4, #e5eaf5);
  margin-top: 30px;
}

/* line 579, ../sass/parimisaccueil.scss */
.spriteResto {
  background: url("../img/img/story-4.png") -2px -87px;
  width: 120px;
  height: 73px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* line 586, ../sass/parimisaccueil.scss */
.Item {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding: 30px 0;
  margin-top: 30px;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.Item:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 593, ../sass/parimisaccueil.scss */
.Itemimage {
  width: 85.71429%;
  float: left;
  margin-left: 7.14286%;
  min-height: 50vh;
  margin-bottom: 20px;
}
/* line 598, ../sass/parimisaccueil.scss */
.Itemimage img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 768px) {
  /* line 593, ../sass/parimisaccueil.scss */
  .Itemimage {
    width: 35.71429%;
    float: left;
    margin-left: 14.28571%;
  }
}

/* line 607, ../sass/parimisaccueil.scss */
.Itemlegende {
  width: 85.71429%;
  float: left;
  margin-left: 7.14286%;
  padding: 50px 30px;
  background: white;
  min-height: 50vh;
  box-shadow: 0 4px 15px 0 rgba(143, 147, 174, 0.3);
}
/* line 614, ../sass/parimisaccueil.scss */
.Itemlegende h3 {
  text-align: left;
  color: black;
  font-weight: bold;
}
/* line 619, ../sass/parimisaccueil.scss */
.Itemlegende .voirPlus {
  text-align: right;
}
/* line 621, ../sass/parimisaccueil.scss */
.Itemlegende .voirPlus a {
  text-decoration: none;
  color: black;
}
/* line 625, ../sass/parimisaccueil.scss */
.Itemlegende .voirPlus a:hover {
  color: #ae8f60;
}
/* line 629, ../sass/parimisaccueil.scss */
.Itemlegende p {
  font-size: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  /* line 607, ../sass/parimisaccueil.scss */
  .Itemlegende {
    width: 42.85714%;
    float: left;
    margin-left: -7.14286%;
    margin-top: 10vh;
  }
}

/* line 643, ../sass/parimisaccueil.scss */
.ItemlegendeInverse {
  width: 85.71429%;
  float: left;
  margin-left: 7.14286%;
  padding: 50px 30px;
  background: white;
  min-height: 50vh;
  box-shadow: 0 4px 15px 0 rgba(143, 147, 174, 0.3);
}
/* line 650, ../sass/parimisaccueil.scss */
.ItemlegendeInverse h3 {
  color: black;
  font-weight: bold;
}
/* line 654, ../sass/parimisaccueil.scss */
.ItemlegendeInverse .voirPlus {
  float: right;
}
/* line 657, ../sass/parimisaccueil.scss */
.ItemlegendeInverse .voirPlus::after {
  content: "";
  display: block;
  clear: both;
}
/* line 662, ../sass/parimisaccueil.scss */
.ItemlegendeInverse p {
  font-size: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  /* line 643, ../sass/parimisaccueil.scss */
  .ItemlegendeInverse {
    width: 42.85714%;
    float: left;
    margin-left: -71.42857%;
    margin-top: 10vh;
  }
}

/* line 675, ../sass/parimisaccueil.scss */
.ItemimageInverse {
  width: 85.71429%;
  float: left;
  margin-left: 7.14286%;
  min-height: 50vh;
  margin-bottom: 20px;
}
/* line 680, ../sass/parimisaccueil.scss */
.ItemimageInverse img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 768px) {
  /* line 675, ../sass/parimisaccueil.scss */
  .ItemimageInverse {
    width: 35.71429%;
    float: left;
    margin-left: 50%;
  }
}

/* line 690, ../sass/parimisaccueil.scss */
.spa {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, #f4f4f4, rgba(67, 179, 201, 0.5)), url(../img/spa/spa.jpg);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.spa:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 701, ../sass/parimisaccueil.scss */
.soins {
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid #ae8f60;
  box-shadow: 0 4px 15px 0 rgba(143, 147, 174, 0.3);
  padding: 40px;
}
@media screen and (min-width: 768px) {
  /* line 701, ../sass/parimisaccueil.scss */
  .soins {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* line 717, ../sass/parimisaccueil.scss */
.location {
  min-height: 700px;
  position: relative;
  padding-bottom: 20px;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
}

/* line 725, ../sass/parimisaccueil.scss */
#map {
  height: 570px;
  width: 100%;
}

/* line 729, ../sass/parimisaccueil.scss */
.contact {
  width: 100%;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  /* line 729, ../sass/parimisaccueil.scss */
  .contact {
    position: absolute;
    bottom: 75px;
    left: 75px;
    z-index: 79;
    width: 50%;
    background: white;
    box-shadow: 0 4px 15px 0 rgba(143, 147, 174, 0.3);
  }
}
@media screen and (min-width: 1024px) {
  /* line 729, ../sass/parimisaccueil.scss */
  .contact {
    width: 30%;
    left: 150px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 729, ../sass/parimisaccueil.scss */
  .contact {
    width: 25%;
  }
}

/* line 749, ../sass/parimisaccueil.scss */
footer {
  width: 100%;
  color: black;
  min-height: 50vh;
}
@media screen and (min-width: 768px) {
  /* line 749, ../sass/parimisaccueil.scss */
  footer {
    padding: 0 25px;
    margin: 0;
  }
}
/* line 757, ../sass/parimisaccueil.scss */
footer .rezo {
  height: 600px;
  background-image: url("../img/rezo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 763, ../sass/parimisaccueil.scss */
footer .rezo a {
  color: #AC8F5D;
}
@media screen and (min-width: 768px) {
  /* line 757, ../sass/parimisaccueil.scss */
  footer .rezo {
    height: 150px;
  }
}
/* line 770, ../sass/parimisaccueil.scss */
footer .mediafooter {
  width: 100%;
  float: left;
  height: 150px;
  color: white;
}
/* line 774, ../sass/parimisaccueil.scss */
footer .mediafooter input {
  max-width: 80%;
}
@media screen and (min-width: 768px) {
  /* line 770, ../sass/parimisaccueil.scss */
  footer .mediafooter {
    height: 150px;
    width: 25%;
    float: left;
  }
}
/* line 782, ../sass/parimisaccueil.scss */
footer .mentions {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
footer .mentions:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 785, ../sass/parimisaccueil.scss */
footer .mentions a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 768px) {
  /* line 782, ../sass/parimisaccueil.scss */
  footer .mentions {
    width: 50%;
    float: left;
    margin-left: 25%;
    height: 230px;
  }
}
/* line 794, ../sass/parimisaccueil.scss */
footer .mentions .footer {
  padding-top: 45px;
  width: 100%;
  float: left;
}
@media screen and (min-width: 768px) {
  /* line 794, ../sass/parimisaccueil.scss */
  footer .mentions .footer {
    width: 33.33333%;
    float: left;
  }
}
/* line 801, ../sass/parimisaccueil.scss */
footer .mentions .titre {
  position: relative;
}
/* line 803, ../sass/parimisaccueil.scss */
footer .mentions .titre h3 {
  padding-top: 20px;
  font-size: 25px;
}
/* line 808, ../sass/parimisaccueil.scss */
footer .mentions .titre::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  margin-left: 20px;
  width: 1px;
  height: 100px;
  background: black;
  transition: width 0.3s;
}
/* line 819, ../sass/parimisaccueil.scss */
footer .mentions .titre::after {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  margin-right: 20px;
  width: 1px;
  height: 100px;
  background: black;
  transition: width 0.3s;
}
/* line 831, ../sass/parimisaccueil.scss */
footer .footerbottom {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
}
/* line 832, ../sass/parimisaccueil.scss */
footer .footerbottom p {
  padding-top: 15px;
  line-height: 1em;
}
/* line 12, ../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
footer .footerbottom:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (min-width: 768px) {
  /* line 831, ../sass/parimisaccueil.scss */
  footer .footerbottom {
    width: 50%;
    float: left;
    margin-left: 25%;
    height: 150px;
  }
}

/* line 845, ../sass/parimisaccueil.scss */
footer i {
  padding-top: 20px;
  font-size: 30px;
  color: #AC8F5D;
}

/* line 855, ../sass/parimisaccueil.scss */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 80px;
  height: 750px;
}

/* Hide the images by default */
/* line 863, ../sass/parimisaccueil.scss */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* line 867, ../sass/parimisaccueil.scss */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
/* line 881, ../sass/parimisaccueil.scss */
.prev {
  left: 0;
}

/* line 884, ../sass/parimisaccueil.scss */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 889, ../sass/parimisaccueil.scss */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
/* line 894, ../sass/parimisaccueil.scss */
.divdot {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 900, ../sass/parimisaccueil.scss */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* line 910, ../sass/parimisaccueil.scss */
.active, .dot:hover {
  background-color: #ae8f60;
}

/* Fading animation */
/* line 914, ../sass/parimisaccueil.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
/* line 928, ../sass/parimisaccueil.scss */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* line 938, ../sass/parimisaccueil.scss */
.chambre1 {
  background-image: url("../img/chambre/chambre1.jpg");
}

/* line 941, ../sass/parimisaccueil.scss */
.chambre2 {
  background-image: url("../img/chambre/chambre2.jpg");
}

/* line 944, ../sass/parimisaccueil.scss */
.chambre3 {
  background-image: url("../img/chambre/chambre3.jpg");
}

/* line 947, ../sass/parimisaccueil.scss */
.chambre4 {
  background-image: url("../img/chambre/chambre4.jpg");
}

/* line 951, ../sass/parimisaccueil.scss */
.spa1 {
  background-image: url("../img/spa/spa.jpg");
}

/* line 954, ../sass/parimisaccueil.scss */
.spa2 {
  background-image: url("../img/spa/spaslide2.jpg");
}

/* line 957, ../sass/parimisaccueil.scss */
.spa3 {
  background-image: url("../img/spa/spaslide3.jpg");
}

/* line 964, ../sass/parimisaccueil.scss */
.mentionslegale {
  border-top: 15px solid #313A3D;
  border-bottom: 15px solid #313A3D;
  margin: 70px 10px;
  padding: 30px 0;
  text-align: center;
}
/* line 970, ../sass/parimisaccueil.scss */
.mentionslegale a {
  text-decoration: underline;
  color: black;
}
/* line 974, ../sass/parimisaccueil.scss */
.mentionslegale p {
  line-height: 1.5em;
  padding: 10px;
}
/* line 979, ../sass/parimisaccueil.scss */
.mentionslegale h3 {
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  /* line 964, ../sass/parimisaccueil.scss */
  .mentionslegale {
    width: 80%;
    margin: 70px auto;
  }
}

/* line 987, ../sass/parimisaccueil.scss */
.separateur {
  display: inline-block;
  width: 30%;
  margin: 40px auto;
  height: 3px;
  background: #ae8f60;
}

/* line 996, ../sass/parimisaccueil.scss */
.plandusite {
  margin: 50px 10px;
  padding: 30px 0;
  text-align: center;
}
/* line 1000, ../sass/parimisaccueil.scss */
.plandusite a {
  text-decoration: none;
  color: black;
}
/* line 1004, ../sass/parimisaccueil.scss */
.plandusite a:hover {
  color: #ae8f60;
}
/* line 1007, ../sass/parimisaccueil.scss */
.plandusite ul {
  list-style: none;
}
/* line 1010, ../sass/parimisaccueil.scss */
.plandusite li {
  line-height: 1em;
  padding: 10px;
}
/* line 1015, ../sass/parimisaccueil.scss */
.plandusite h3 {
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  /* line 996, ../sass/parimisaccueil.scss */
  .plandusite {
    width: 80%;
    margin: 50px auto;
  }
}

/* line 1023, ../sass/parimisaccueil.scss */
.separateur {
  display: inline-block;
  width: 20%;
  margin: 40px auto;
  height: 3px;
  background: #ae8f60;
}

/* line 1032, ../sass/parimisaccueil.scss */
#formulaire {
  width: 100%;
  color: #B6B6B6;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
  margin: 60px auto 120px;
  border-top: 15px solid #313A3D;
  border-bottom: 15px solid #313A3D;
  text-align: center;
  padding: 50px 0 110px;
  max-width: 1100px;
}
/* line 1044, ../sass/parimisaccueil.scss */
#formulaire h6 {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  /* line 1032, ../sass/parimisaccueil.scss */
  #formulaire {
    width: 80%;
  }
}

/* line 1051, ../sass/parimisaccueil.scss */
body #formulaire h2 {
  color: #313A3D;
  font-weight: 100;
}

/* line 1056, ../sass/parimisaccueil.scss */
form {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /* line 1056, ../sass/parimisaccueil.scss */
  form {
    width: 58.3333333333%;
  }
}

/* line 1063, ../sass/parimisaccueil.scss */
.required::after {
  content: '*';
  position: absolute;
  top: 0;
  right: -15px;
  display: block;
  font-size: 25px;
}

/* line 1071, ../sass/parimisaccueil.scss */
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

/* line 1076, ../sass/parimisaccueil.scss */
form .fielddate {
  width: 100%;
  float: left;
}
@media screen and (min-width: 768px) {
  /* line 1076, ../sass/parimisaccueil.scss */
  form .fielddate {
    width: 46.66667%;
    float: left;
  }
}

@media screen and (min-width: 768px) {
  /* line 1082, ../sass/parimisaccueil.scss */
  form .depart {
    margin-left: 6.66667%;
  }
}

/* line 1087, ../sass/parimisaccueil.scss */
form .field i {
  font-size: 1.45em;
  display: none;
}

/* line 1091, ../sass/parimisaccueil.scss */
form .field label p {
  overflow: hidden;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  height: 100%;
}

/* line 1099, ../sass/parimisaccueil.scss */
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url("../img/rezo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

/* line 1117, ../sass/parimisaccueil.scss */
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 17px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

/* line 1130, ../sass/parimisaccueil.scss */
form .field input[type="file"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 14px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

/* line 1142, ../sass/parimisaccueil.scss */
form .field select {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 16px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* line 1155, ../sass/parimisaccueil.scss */
form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 100%;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

/* line 1165, ../sass/parimisaccueil.scss */
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused,
form .field select:focus,
form .field select.focused {
  outline: none;
}

/* line 1172, ../sass/parimisaccueil.scss */
#msg.msgselected {
  padding-bottom: 150px;
}

/* line 1175, ../sass/parimisaccueil.scss */
form .field label.labelselected {
  width: 18%;
  padding: 18px 0;
  background: #ae8f60;
  color: #313A3D;
}

/* line 1181, ../sass/parimisaccueil.scss */
form .field label.labelselected p {
  display: none;
}

/* line 1185, ../sass/parimisaccueil.scss */
form .field label.labelselected i {
  display: block;
  font-size: 1.45em;
}

/* line 1189, ../sass/parimisaccueil.scss */
#formulaire form input[type="submit"] {
  background: #ae8f60;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  margin-top: 30px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

/* line 1208, ../sass/parimisaccueil.scss */
#formulaire form input[type="submit"]:hover {
  background-image: url("../img/rezo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ae8f60;
}

/* line 1215, ../sass/parimisaccueil.scss */
#formulaire form input[type="submit"]:focus {
  outline: none;
  background: #ae8f60;
}

/* line 1221, ../sass/parimisaccueil.scss */
.resa {
  background-image: url("../img/img/bgbase.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 1228, ../sass/parimisaccueil.scss */
.resa #formulaire {
  margin: 60px auto 25px;
}

/* line 1233, ../sass/parimisaccueil.scss */
.tabContainer {
  width: 100%;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-position: center;
  margin: 60px auto 120px;
  border-top: 15px solid #313A3D;
  border-bottom: 15px solid #313A3D;
  text-align: center;
  padding: 50px 0 110px;
  max-width: 1100px;
}

/* line 1245, ../sass/parimisaccueil.scss */
.buttonContainer {
  height: 60px;
  width: 80%;
  margin: 0 auto;
}
/* line 1249, ../sass/parimisaccueil.scss */
.buttonContainer button {
  width: 100%;
  float: left;
  text-transform: uppercase;
  font-size: 1.35em;
  letter-spacing: 0.075em;
  font-weight: 300;
  height: 100%;
  border: 1px solid #ae8f60;
  float: left;
  outline: none;
  cursor: pointer;
  color: #B6B6B6;
  background-image: url("../img/rezo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  /* line 1249, ../sass/parimisaccueil.scss */
  .buttonContainer button {
    width: 50%;
    float: left;
  }
}
@media (min-width: 1024px) {
  /* line 1249, ../sass/parimisaccueil.scss */
  .buttonContainer button {
    width: 25%;
    float: left;
  }
}
/* line 1271, ../sass/parimisaccueil.scss */
.buttonContainer button:hover {
  background: #ae8f60;
  color: white;
}

/* line 1277, ../sass/parimisaccueil.scss */
.tabPanel {
  background: #ae8f60;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: none;
}
/* line 1284, ../sass/parimisaccueil.scss */
.tabPanel .avis {
  width: 80%;
  margin: 20px auto;
  background: white;
  color: #313A3D;
  box-shadow: 0 5px 5px rgba(31, 15, 15, 0.2);
}
/* line 1290, ../sass/parimisaccueil.scss */
.tabPanel .avis p {
  width: 100%;
  padding: 5px 10px;
  line-height: 1.2em;
}
/* line 1295, ../sass/parimisaccueil.scss */
.tabPanel .avis .name, .tabPanel .avis .note {
  text-align: left;
}
/* line 1298, ../sass/parimisaccueil.scss */
.tabPanel .avis .note {
  padding-top: 0;
}
/* line 1301, ../sass/parimisaccueil.scss */
.tabPanel .avis .citation {
  font-style: italic;
  padding: 10px;
}
/* line 1305, ../sass/parimisaccueil.scss */
.tabPanel .avis .dateavis {
  text-align: right;
}

/* line 1311, ../sass/parimisaccueil.scss */
.pressecontainer {
  border-top: 15px solid #313A3D;
  border-bottom: 15px solid #313A3D;
  margin: 70px 10px;
  padding: 30px 0;
  margin-right: auto;
  margin-left: auto;
}
/* line 1320, ../sass/parimisaccueil.scss */
.pressecontainer a {
  text-decoration: none;
}
/* line 1323, ../sass/parimisaccueil.scss */
.pressecontainer p {
  line-height: 1em;
  color: #313A3D;
}
@media (min-width: 768px) {
  /* line 1311, ../sass/parimisaccueil.scss */
  .pressecontainer {
    width: 735px;
  }
}
@media (min-width: 1024px) {
  /* line 1311, ../sass/parimisaccueil.scss */
  .pressecontainer {
    width: 955px;
  }
}
@media (min-width: 1200px) {
  /* line 1311, ../sass/parimisaccueil.scss */
  .pressecontainer {
    width: 1155px;
  }
}
/* line 1336, ../sass/parimisaccueil.scss */
.pressecontainer .Itempresse {
  width: 100%;
  float: left;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  /* line 1336, ../sass/parimisaccueil.scss */
  .pressecontainer .Itempresse {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  /* line 1336, ../sass/parimisaccueil.scss */
  .pressecontainer .Itempresse {
    width: 33.33333%;
    float: left;
  }
}
@media (min-width: 1200px) {
  /* line 1336, ../sass/parimisaccueil.scss */
  .pressecontainer .Itempresse {
    width: 25%;
    float: left;
  }
}

/* line 1355, ../sass/parimisaccueil.scss */
.carteContainer {
  width: 100%;
  float: left;
}
@media screen and (min-width: 768px) {
  /* line 1355, ../sass/parimisaccueil.scss */
  .carteContainer {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  /* line 1355, ../sass/parimisaccueil.scss */
  .carteContainer {
    width: 50%;
    float: left;
  }
}

/* line 1365, ../sass/parimisaccueil.scss */
.carte {
  width: 80%;
  margin: 30px auto;
  background: whitesmoke;
  color: #444;
  border: 1px solid #ae8f60;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

/* line 1377, ../sass/parimisaccueil.scss */
.carte article {
  padding: 20px;
  background: white;
}

/* line 1381, ../sass/parimisaccueil.scss */
.carte h3 {
  text-align: left;
  color: #333;
  font-size: 20px;
}

/* line 1386, ../sass/parimisaccueil.scss */
.carte p {
  width: 80%;
  padding: 20px 0;
  line-height: 1.5;
}

/* line 1391, ../sass/parimisaccueil.scss */
.carteDate {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  color: #FFF;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  background-color: #ae8f60;
  border-radius: 50%;
}
/* line 1404, ../sass/parimisaccueil.scss */
.carteDate .jour {
  display: block;
  font-size: 14px;
}
/* line 1408, ../sass/parimisaccueil.scss */
.carteDate .mois {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

/* line 1414, ../sass/parimisaccueil.scss */
.carte .vignette {
  /*background-color: whitesmoke;*/
  padding-top: 60%;
  background-size: cover;
  background-position: center center;
}

/* line 1420, ../sass/parimisaccueil.scss */
.carte:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

/* line 1426, ../sass/parimisaccueil.scss */
.conteneurIframe {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 500px;
}
/* line 1432, ../sass/parimisaccueil.scss */
.conteneurIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
