/* Lien avec susy*/
@import 'susy';

/*Import d'une typo google directement dans le SCSS*/
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/*
Import de mes différents fichiers sass découpés pour simplifier mon code:

@import "components/...";
@import "helpers/...";
@impot "layouts/..."
@import "pages/...";
*/

/*Paramètrage des options de susy*/
$susy: (
 container: 100%,
 columns: 4,
 gutters: 30px/100px,
 gutter-position: inside-static,
 column-width: 100px, /* valeur qui n'a pas d'importance, ne sera pas prise en compte mais permet de pouvoir attribuer une valeur absolu au gouttières via la propriété static*/
 /*debug -> Permet de visualiser sa grille par aplat de couleur*/
 debug: (
 image: show,
 )
);

/*Mixin qui permet de tout passer en border-box: box-sizing*/
@include border-box-sizing;

* {
  font-family: Pacifico;
}
body, html{
  margin: 0;
  padding:0;
}
.container{
  @include container;
}
.main{
  @include span(3 of 4);

  min-height: 100vh;
}
.sidebar{
  @include span(1 of 4 last);

  min-height: 100vh
}
