@import 'susy';
@import 'color';
@import 'fonts';
@import 'menuhamburger';
@import 'nav';
@import 'footer';
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Federo);

$susy: (
columns: 14,
container: 100%,
gutters: 0,
gutter-position: inside,
/*debug: (
 image: show,
 )*/
);

@include border-box-sizing;
* {
    margin: 0;
    padding: 0;
}
body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 50px;
  font-family: 'Federo', sans-serif;
}
h4{
  color:#ae8f60;
}
p{
  font-size: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 3em;
  @media screen and (min-width: 768px){
    width: 60%;
  };
}
a{
  text-decoration: none;
}
section{
  padding-top: 50px;
  padding-bottom: 50px;
}
.navfixed{
  position: fixed;
  top: 0;
  width:100%;
  text-align: center;
  height: 60px !important;
  background: white;
  z-index: 80;
  font-size: 14px;
  text-transform: uppercase;
  a{
    color: black;
  }
  a:hover{
    color: #ae8f60;
  }
  .navgauche{
    visibility:hidden;
    @include span(4 of 14);
    @include push(1 of 14);
    height: 60px;
    line-height: 60px;
    div{
      @include span(1 of 2);
    };
    @media screen and (min-width: 992px){
      visibility: visible;
    }
  }
  .logo{
    @include span (1 of 1);
    font-size: 30px;
    line-height: 60px;
    margin-top: -60px;
    @media screen and (min-width: 768px){
      @include span(4 of 14);
      font-size: 50px;
      margin-top: 0;
    };
  }
  .navdroite{
    visibility:hidden;
    @include span(4 of 14 );
    @include pull(1 of 14);
    height: 60px;
    line-height: 60px;
    div{
      @include span(1 of 2)
    };
    @media screen and (min-width: 992px){
      visibility: visible;
    };
  }
}

//Réservation
.book{
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  color: black;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 18px;
  background: black;
  color: white;
  overflow: hidden;
  i{
    padding-top: 14px;
    font-size: 30px;
    color: white;
  }
  @media screen and (min-width: 992px){
    width: 180px;
    i{
      display: none;
    }

  }
}
.book::after {
      position: absolute;
      pointer-events: none;
      z-index: 10;
      content: '';
      bottom: 0%;
      left: 0%;
      right: 100%;
      display: block;
      height: 3px;
      background-color: #ae8f60;
      -webkit-transition: right 0.45s;
      -moz-transition: right 0.45s;
      transition: right 0.45s;
}
.book:hover::after{
	right:0%;
	-webkit-transition: right 0.6s;
	-moz-transition: right 0.6s;
	transition: right 0.6s;
}
.book::before {
    position: absolute;
    pointer-events: none;
    z-index: 10;
    content: '';
    top: 0%;
    left: -100%;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ae8f60;
    -webkit-transition: left 0s;
    -moz-transition: left 0s;
    transition: left 0s;
}
.book:hover::before{
	left:100%;
	-webkit-transition: left 0.6s;
	-moz-transition: left 0.6s;
	transition: left 0.6s;
}

div.overlaybooking{
	position:fixed;
	z-index:101;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:0px;
	padding:0px;
	text-align:center;
  color: white;
	background-image:url(../img/booktoggle.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	visibility:hidden;
	transition: all 0.7s;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
div.overlaybooking.open{
	visibility:visible;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

div.overlaybooking .close{
  position: absolute;
  right: 0;
  height: 60px;
  width: 60px;
  background: white;
  cursor: pointer;
}
.close span{
  display: block;
  position: absolute;
  top: 28px;
  left: 10px;
  height: 3px;
  width: 40px;
  background: black;
  transform: rotate(45deg);
}
.close:hover span{
  transform: rotate(-45deg);
  transition: .5s;
}
.close span::before{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  transform: rotate(-90deg);
}
.close:hover{
  background: black;
  color: white;
}
.close::after {
      position: absolute;
      pointer-events: none;
      z-index:10;
      content: '';
      bottom: 0%;
      left: 0%;
      right: 100%;
      display: block;
      height: 3px;
      background-color: #ae8f60;
      -webkit-transition: right 0.45s;
      -moz-transition: right 0.45s;
      transition: right 0.45s;
}
.close:hover::after{
	right:0%;
	-webkit-transition: right 0.6s;
	-moz-transition: right 0.6s;
	transition: right 0.6s;
}

.langue{
  position: absolute;
  top: 0;
  right: 60px;
  width: 30px;
  z-index: 149;
  color: black;
  height: 60px;
  @media screen and (min-width: 992px){
    right: 180px;
    width: 60px;
  }
  div{
    padding-top: 8px;
    cursor: pointer;
    display: block;
    width: 100%;
    height:50%;
  }
  div:hover{
    color: #ae8f60;
    text-decoration: underline;
  }

}

.imgintro{
  display:none;
  @media screen and (min-width: 768px){
    @include container;
    display: block;
    height: 95vh;
    text-align: center;
    z-index: 100;
    h1{
      font-size: 5em;
      padding-top: 45vh;
      font-family: "stencil";
      a{
        text-decoration: none;
        color: #BCA57D;
      }
    }
  }
}
.imgintro::after{
  content: "";
  background: url(../img/origami.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
}
.bloom{
  display: none;
  @media screen and (min-width: 768px){
    display: block;
    position:absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle at center, white, transparent);
    z-index: -1;
    box-shadow: 0 5px 5px rgba(31, 15, 15, 0.2);
  }
}
.parallax{
  background-image: url('../img/rooftopMobile.jpg');
  background-attachment: fixed!important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  @media screen and (min-width: 768px){
  background-image: url('../img/rooftop.jpg')
  }
}

.corps{
  width: 100%;
  @media screen and (min-width: 768px){
  margin:0;
  padding: 0 25px;
  }
}

.hotel{
  @include container;
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-image: url('../img/pattern.jpg');
  background-repeat: repeat;
  background-position: center;
  h2{
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.hotel::before{
  content: "";
  display: block;
  height: 50px;
}
.hotelpara{
  @media screen and (min-width: 768px){
    @include span (4 of 6);
    @include push (1 of 6);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  p{
    @include span (1 of 1);
    padding: 0 60px 60px 60px;
    @media screen and (min-width: 768px){
      @include span (1 of 2);
    }
  }
  .paragauche{
    border-right: 1px solid #ae8f60;
  }
  // .paradroite{
  //   border-left: 1px solid #ae8f60;
  // } à voir pour smartphone
}






.chambre{
  @include container;
  background-image: url('../img/booktoggle.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 5vh;
  box-shadow: 0 5px 5px rgba(31, 15, 15, 0.2);
  .chambreIntro{
      h2,p{
        color: #BCA57D;
      }
      h4{
        color: rgb(241,241,241);
      }
  }
  .roomgalery{
    @media screen and (min-width: 768px){
      @include span (8 of 10);
      @include push (1 of 10);
    }
  }
  .chambreItem{
    @include span(1 of 1);
    height: 50vh;
    padding: 0 auto;
    margin: 0 auto;
    text-align: left;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 768px){
    @include span (1 of 2);
    }
    img{
      position: absolute;
      z-index: 14;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid black;
      transition: .5s;

    }
    img:hover{
      transform: scale(1.1);
    }
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;

  }
  .overlaytoggle{
    background: black;
    opacity: 0.3;
    transition: 1s;
    z-index: 15;

  }
  .plus{
    display: none;
  }
  .plusclique{
    position: absolute;
    display: block;
    width: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;

  }
  .plus img{
    width: 100%
  }
  .titrerotation{
    position:absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 20px;
    padding-right: 50px;
    background:black;
    font-size: 20px;
    color: #BCA57D;
    display: inline-block;
    transform: rotate(90deg)
    translateX(-25px);
    transition: transform 0.5s;
    transform-origin: 0 100%;
    z-index:50;
  }
  .titrerotationselected{
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
}


.resto{
  @include container;
  min-height: 100vh;
  background-image: url('../img/pattern.jpg');
  background-repeat: repeat;
  background-position: center;
}
.pageresto{
  background: linear-gradient(to bottom, rgba(247,236,228,1), rgba(229,234,245,1));
  margin-top: 30px;
}
.Item{
  @include container;
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.Itemimage{
  @include span (12 of 14);
  @include push(1 of 14);
  min-height: 50vh;
  margin-bottom: 20px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (min-width: 768px){
    @include span(5 of 14);
    @include push(2 of 14)
  };
}
.Itemlegende{
  @include span (12 of 14);
  @include push(1 of 14);
  padding: 50px 30px;
  background: white;
  min-height: 50vh;
  box-shadow: 0 4px 15px 0 rgba(143,147,174,.3);
  h3{
    text-align: left;
    color: black;
    font-weight: bold;
  }
  .carte{
    float: right;
  }
  .carte::after{
    content: "";
    display: block;
    clear: both;
  }
  p{
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    line-height: 1.5em;
  }
  @media screen and (min-width: 768px){
    @include span (6 of 14);
    @include pull(1 of 14);
    margin-top: 10vh;
  };
}
.ItemlegendeInverse{
  @include span (12 of 14);
  @include push(1 of 14);
  padding: 50px 30px;
  background: white;
  min-height: 50vh;
  box-shadow: 0 4px 15px 0 rgba(143,147,174,.3);
  h3{
    color: black;
    font-weight: bold;
  }
  .carte{
    float: right;
  }
  .carte::after{
    content: "";
    display: block;
    clear: both;
  }
  p{
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
  }
  @media screen and (min-width: 768px){
    @include span (6 of 14);
    @include pull(10 of 14);
    margin-top: 10vh;
  };
}
.ItemimageInverse{
  @include span (12 of 14);
  @include push(1 of 14);
  min-height: 50vh;
  margin-bottom: 20px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (min-width: 768px){
    @include span(5 of 14);
    @include push(7 of 14);
  }
}

.spa{
  @include container;
  background-image:linear-gradient(to bottom, rgba(244,244,244,1), rgba(67, 179, 201,0.5)),
  url(../img/spa.jpg);
  position: relative;
  // box-shadow: 0 5px 5px 0 rgba(31, 15, 15, 0.2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.soins{
  width:90%;
  margin:0 auto;
  background: rgba(255,255,255, 0.4);
  border: 2px solid #ae8f60;
  box-shadow: 0 4px 15px 0 rgba(143,147,174,.3);
  padding: 40px;
  @media screen and (min-width: 768px){
  width:40%;
  height: 50%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  }
}
.location{
  min-height: 700px;
  position: relative;
  padding-bottom: 20px;
  background-image: url('../img/pattern.jpg');
  background-repeat: repeat;
  background-position: center;
}
#map{
  height:570px;
  width: 100%;
}
.contact{
  width: 100%;
  padding: 40px;
  @media screen and (min-width: 768px){
  position: absolute;
  bottom:75px;
  left: 250px;
  z-index: 79;
  width: 20%;
  background: white;
  box-shadow: 0 4px 15px 0 rgba(143,147,174,.3);
  }
}
footer{
  width: 100%;
  @media screen and (min-width: 768px){
  padding: 0 25px;
  margin:0;
  }
  color: black;
  min-height: 50vh;
  .rezo{
    height: 600px;
    background-image: url('../img/rezo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    a{
      color: #AC8F5D;
    }
    @media screen and(min-width: 768px ){
      height: 150px;
    }
  }
  .mediafooter{
    @include span (1 of 1);
    height: 150px;
    color: white;
    @media screen and(min-width: 768px ){
      height: 150px;
      @include span (1 of 4);
      }
  }
  .mentions{
    @include container;
    padding-top: 30px;
    @media screen and(min-width:768px){
      @include span (2 of 4);
      @include push (1 of 4);
      height: 230px;
    }
    .footer{
      padding-top: 45px;
      @include span (1 of 1);
      @media screen and(min-width: 768px){
        @include span (1 of 3);
      }
    }
    .titre{
      position: relative;
      h3{
      padding-top: 20px;
      font-size: 25px;
      }
    }
    .titre::before{
      content: '';
      position: absolute;
      top: 25px;
      left: 25px;
      margin-left: 20px;
      width: 1px;
      height: 100px;
      background: black;
      transition: width 0.3s;
    }
    .titre::after{
      content: '';
      position: absolute;
      top: 25px;
      right: 25px;
      margin-right: 20px;
      width: 1px;
      height: 100px;
      background: black;
      transition: width 0.3s;
    }
  }
  .footerbottom{
    p{
      padding-top: 15px;
      line-height: 1em;
    }
    @include container;
    padding-top: 45px;
    @media screen and(min-width:768px){
      @include span (2 of 4);
      @include push (1 of 4);
      height: 150px;
    }
  }
}
footer i{
  padding-top: 20px;
  font-size: 30px;
  color: #AC8F5D;

}



//CAROUSEL
.slideshow-container {
  width:100%;
  position: relative;
  margin: auto;
  height: 750px;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.prev{
  left:0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.divdot{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #ae8f60;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
// FIN DU CAROUSEL


//MENTION LEGALES ET CGV
.mentionslegale{
  border-top: 15px solid #313A3D;
  border-bottom: 15px solid #313A3D;
  margin: 70px 10px;
  padding: 30px 0;
  text-align: center;
  a{
    text-decoration: underline;
    color: black;
  }
  p{
    line-height: 1.5em;
    padding: 10px;

  }
  h3{
    padding-bottom: 20px;
  }
  @media screen and (min-width: 768px){
    width: 80%;
    margin: 70px auto;
  }
}
.separateur{
  display: inline-block;
  width: 30%;
  margin: 40px auto;
  height: 3px;
  background: #ae8f60;
}

// PLAN DU SITE
.plandusite{
  margin: 50px 10px;
  padding: 30px 0;
  text-align: center;
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color:#ae8f60;
  }
  ul{
    list-style: none;
  }
  li{
    line-height: 1em;
    padding: 10px;

  }
  h3{
    padding-bottom: 20px;
  }
  @media screen and (min-width: 768px){
    width: 80%;
    margin: 50px auto;
  }
}
.separateur{
  display: inline-block;
  width: 20%;
  margin: 40px auto;
  height: 3px;
  background: #ae8f60;
}

//FORMULAIRE
#formulaire {
  width:100%;
  color: #B6B6B6;
  background-image: url('../img/pattern.jpg');
  background-repeat: repeat;
  background-position: center;
  margin: 60px auto 120px;
  border-top: 15px solid #313A3D;
  border-bottom: 15px solid #313A3D;
  text-align: center;
  padding: 50px 0 110px;
  max-width: 1100px;
  h6{
    margin-top: 10px;
  }
  @media screen and (min-width: 768px){
  width: 80%;
  }
}
body section h2 {
  color: #313A3D;
  margin-bottom: 40px;
  font-weight: 100;
}
form {
  width: 80%;
  margin: 0 auto;
  @media screen and (min-width: 768px){
  width: 58.3333333333%;
  }
}
.required::after{
  content: '*';
  position: absolute;
  top: 0;
  right: -15px;
  display: block;
  font-size: 25px;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
form .fielddate{
  @include span (1 of 1);
  @media screen and (min-width: 768px){
  @include span (7 of 15);
  }
}
form .depart{
  @media screen and (min-width: 768px){
  @include push(1 of 15);
  }
}
form .field i{
  font-size: 1.45em;
  display:none;
}
form .field label p{
  overflow: hidden;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  height: 100%;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url('../img/rezo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 17px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;

}
form .field input[type="file"],
form .field textarea{
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 14px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}
form .field select {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 16px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 100%;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused,
form .field select:focus,
form .field select.focused {
  outline: none;
}
#msg.msgselected {
  padding-bottom: 150px;
}
form .field label.labelselected{
  width: 18%;
  padding: 18px 0;
  background: #ae8f60;
  color: #313A3D;
}
form .field label.labelselected p{
  display: none;

}
form .field label.labelselected i{
  display: block;
  font-size: 1.45em;
}
#formulaire form input[type="submit"] {
  background: #ae8f60;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  margin-top: 30px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#formulaire form input[type="submit"]:hover {
  background-image: url('../img/rezo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ae8f60;
}
#formulaire form input[type="submit"]:focus {
  outline: none;
  background:  #ae8f60;
}

// RESERVATION
.resa{

  background-image: url('../img/img/bgbase.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.resa #formulaire{
  margin: 60px auto 25px;
}

//AVIS ONGLETS
.tabContainer{
  width:100%;
  background-image: url('../img/pattern.jpg');
  background-repeat: repeat;
  background-position: center;
  margin: 60px auto 120px;
  border-top: 15px solid #313A3D;
  border-bottom: 15px solid #313A3D;
  text-align: center;
  padding: 50px 0 110px;
  max-width: 1100px;
}
.buttonContainer{
  height: 60px;
  width: 80%;
  margin: 0 auto;
  button{
    @include span (1 of 1);
    text-transform: uppercase;
    font-size: 1.35em;
    letter-spacing: 0.075em;
    font-weight: 300;
    height:100%;
    border: 1px solid #ae8f60;
    float: left;
    outline: none;
    cursor: pointer;
    color: #B6B6B6;
    background-image: url('../img/rezo.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    @media screen and (min-width: 768px){
      @include span (2 of 4);
    }
    @media (min-width: 1024px){
      @include span (1 of 4);
    }
    &:hover{
      background: #ae8f60;
      color: white;
    }
  }
}
.tabPanel{
  background: #ae8f60;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: none;
  .avis{
    width: 80%;
    margin: 20px auto;
    background: white;
    color:#313A3D;
    box-shadow: 0 5px 5px rgba(31, 15, 15, 0.2);
    p{
      width:100%;
      padding: 5px 10px;
      line-height: 1.2em;
    }
    .name,.note{
      text-align: left;
    }
    .note{
      padding-top: 0
    }
    .citation{
      font-style: italic;
      padding: 10px;
    }
    .dateavis{
      text-align: right;
    }
  }
}
//PRESSE
.pressecontainer{
  border-top: 15px solid #313A3D;
  border-bottom: 15px solid #313A3D;
  margin: 70px 10px;
  padding: 30px 0;
  margin-right: auto;
  margin-left: auto;
  // padding-left: 7.5px;
  // padding-right: 7.5px;
  a{
    text-decoration: none;
  }
  p{
    line-height: 1em;
    color:#313A3D;
  }
    @media (min-width: 768px){
      width: 735px;
    }
    @media (min-width: 1024px){
      width: 955px;
    }
    @media (min-width: 1200px){
      width: 1155px;
    }
    .Itempresse{
      @include span (1 of 1);
      padding-bottom: 40px;

      @media screen and (min-width: 768px){
        @include span (1 of 2);
      }

      @media screen and (min-width: 1024px ){
        @include span(1 of 3);
      }

      @media (min-width: 1200px){
        @include span(1 of 4);
      }
    }
}

//ACTUALITES & EVENEMENTS
.carteContainer{
  @include span (1 of 1);
  @media screen and (min-width: 768px){
    @include span (1 of 2);
  }

  @media screen and (min-width: 1024px ){
    @include span(1 of 2);
  }
}
.carte{
  width: 80%;
  margin: 30px auto;
  background: whitesmoke;
  color: #444;
  border: 1px solid #ae8f60;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  // min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}
.carte article{
  padding: 20px;
  background: white;
}
.carte h3{
  text-align: left;
  color: #333;
  font-size: 20px;
}
.carte p{
  width: 80%;
  padding: 20px 0;
  line-height: 1.5;
}
.carteDate{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  color: #FFF;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  background-color: #ae8f60;
  border-radius: 50%;
  .jour{
    display: block;
    font-size: 14px;
  }
  .mois{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
  }
}
.carte .vignette{
  /*background-color: whitesmoke;*/
  padding-top: 60%;
  background-size: cover;
  background-position: center center;
}
.carte:hover{
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}


.conteneurIframe{
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 500px;
  iframe{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
  }
}
